nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}
.web-icon{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: gray;
    list-style-type: none;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
ul a{
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-weight: bold;
}

@media(max-width: 700px) {
    nav{
        margin-bottom: 60px;
    }
    ul{
        justify-content: space-between;
        gap: 0.75rem;
        padding: 25px 1rem;
    }
}